################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Next/Project/x64/
/Next/.vs
/Next/x64
/Build/Project.pdb
/Tool/.vs/Project
/Tool/Project/x64
/Tool/x64/Debug
