################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Next/Project/x64/
/Next/.vs
/Next/x64
/Build/Project.pdb
